# API
PORT=3333
NODE_ENV=development
JWT_SECRET=sua_chave_secreta_super_segura_aqui
JWT_EXPIRES_IN=7d
JWT_REFRESH_EXPIRES_IN=30d

# Database
DB_HOST=localhost
DB_PORT=3306
DB_USER=financeflow
DB_PASS=financeflow123
DB_NAME=financeflow

# Web
VITE_API_URL=http://localhost:3333
